<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Image Minifier
  </h1>
  <div>
    <!-- <input [(ngModel)]="path" type="file" name="folderTocompressImages" webkitdirectory directory multiple><br> -->
    <input *ngIf="path ==''" type="file" (change)="onFileChange(fileInput.files)" #fileInput webkitdirectory> <br>
    <!-- <div>path:{{path}}</div> -->
    <div *ngIf="path !==''">
      <button (click)="findImages()" type="button">Start Compressing</button>
      <button (click)="reset()" [disabled]='loading' type="button">reset</button>
    
    

    <h3>compressed files</h3>
    <div *ngIf='loading' class="lds-hourglass"></div>
    <br>
      <!-- <p ><b>{{i.newSize}} MB</b> from  <b>{{i.size}} MB</b> {{i.path}}</p> -->
      <table>
        <tr>
          <th>Old size(MB)</th>
          <th>New Size(MB)</th>
          <th>path</th>
        </tr>
        <tr *ngFor="let i of list">
          <td>{{i.size}}</td>
          <td>{{i.newSize}}</td>
          <td>{{i.path}}</td>
        </tr>
      </table>
    </div>
    
  </div>
</div>


